body {
    background-color: black;
    color: white;
}
header nav {
    display: block;
    width: 100%;
    border-color: white;
    border-style: solid;
    border-width: 1%;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
header nav ul li {
    list-style: none;
    margin: 0 auto;
}
header nav ul li button {
    border-color: blue;
    margin: 0 auto;
    font-family: Honk;
}
header nav ul li button a {
    font-size: 90%;
}
img {
    display: block;
}
.img1 {
    height: 100%;
}
.img2 {
    width: 100%;
    height: 100%;
}
.img3 {
    height: 100%;
    width: 100%;
}
main {
    width: 100%;
    height: 100%;
}
h1 {
    font-family: Bungee Spice;
}
.clickToLearn {
    font-size: 80%;
}
#animeStuff {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
}
.animeStuffContent {
    display: grid;
    grid-template-columns: 1fr;
    margin: 10px;
}
.animeStuffContentImg {
    width: 180px;
}
.introForAnime {
    font-size: 2em;
}
@media(min-width: 786px) {
    .animeStuffContent {
        display: flex;
        flex-wrap: wrap;
        flex-direction:row;
        max-width: 25%;
    }
    .img3 {
        width: 100%;
    }
}
@media(min-width: 1024px) {
    .animeStuffContent {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
    .img1 {
        height: 100%;
    }
    .img3 {
        height: 100%;
        width: 100%;
    }
    .img4 {
        height: 100%;
        width: 100%;
    }
}
/*@media(min-width: 1484px) {
    .animeStuffContent {
        display: flex;
        flex-wrap: wrap;
        flex-direction:row;
        max-width: 34%;
    }
}*/